In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/yadasa/Desktop/marketing-analytics/data/raw/daily_install_count.csv")

In [8]:
df.head(100)

          date  install_count
0   2024-05-21              0
1   2024-05-20              0
2   2024-05-19              0
3   2024-05-18              2
4   2024-05-17              2
5   2024-05-16              0
6   2024-05-15              0
7   2024-05-14              0
8   2024-05-13              0
9   2024-05-12              1
10  2024-05-11             10
11  2024-05-10              3
12  2024-05-09              1
13  2024-05-08             92
14  2024-05-07              2
15  2024-05-06              2
16  2024-05-05              7
17  2024-05-04              4
18  2024-05-03             95
19  2024-05-02             22
20  2024-05-01             20
21  2024-04-30            311
22  2024-04-29              4